$c-richBlack:           rgb(0, 21, 36) ;
$c-caribbeanCurrent:    rgb(21, 97, 109) ;
$c-papayaWhip:          rgb(255, 236, 209) ;
$c-orange:              rgb(255, 125, 0) ;
$c-sienna:              rgb(120, 41, 15) ;